.Notification {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
  font-size: 15px;
  line-height: 1.5;

  &__error,
  &__success {
    padding: 20px;
    color: white;
  }

  &__error {
    background-color: #f44336;
  }

  &__success {
    background-color: #4caf50;
  }

  &__close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: black;
    }
  }
}
